.menu-button {
    -fx-background-color: #3a3535;
    -fx-text-fill : #ff9000;
    -fx-cursor: hand;
    -fx-padding: 0 8;
}

.menu-button:hover {
    -fx-background-color: #232020;
}

.add-button {
    -fx-background-color: #ff9000;
    -fx-text-fill: #f5f5f5;
    -fx-cursor: hand;
    -fx-padding: 0 8;
}

.primary-button {
    -fx-background-color: #ff9000;
    -fx-text-fill: #f5f5f5;
    -fx-cursor: hand;
    -fx-padding: 0 8;
}

.secondary-button {
    -fx-background-color: #f5f5f5;
    -fx-text-fill: #ff9000;
    -fx-border-color: #ccc;
    -fx-cursor: hand;
    -fx-padding: 0 8;
}

.header-button {
    -fx-background-radius: 50%;
    -fx-pref-width: 40;
    -fx-pref-height: 40;
    -fx-cursor: hand;
}
